<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <div class="header" th:fragment="headerFragment">
        <div class="nav">
            <h1 class="logo"><a href="#">LOGO</a></h1>
            <div class="gnb">
                <ul>
                    <li><a href="#">LIST</a></li>
                    <li><a href="#">LIST</a></li>
                    <li><a href="#">LIST</a></li>
                    <li><a href="#">LIST</a></li>
                    <li><a href="#">LIST</a></li>
                </ul>
            </div>
        </div>
    </div>
</html>